
<div id="cards">

    <article>
      <h1>Mon histoire</h1>
      <p>Après 10 années en tant qu'ébéniste, j'ai décidé de me réorienter dans les métiers du Web.</p>
    
      <p><img id="outil" src="assets/pose.jpg" alt="" height="770px" width="600px"></p>
    
      <p>Passionné par le numérique depuis toujours, j'ai toujours été à l'écoute et intéressé par les nouvelles avancées technologiques, que ce soit dans l'univers du jeux vidéo, l'industrie ou encore la robotique. 
        Ma réorientation est le fruit de cette passion combiné à une mûre réflexion. <br>
        Aujourd'hui, le métier de développeur ne cesse d'évoluer et je m'évertue à étudier les nouveautés et à toujours progresser. </p>
    </article>
    
</div>