
<div id="cards">
    <article>
      <h1>Mon histoire</h1>
      <p>Apres 10 années consécutives en tent qu'ébéniste, j'ai décidé de me réorienter dans les métiers du Web.</p>
    
      <blockquote><p><img id="outil" src="assets/Alexandre.jpg" alt="" width="600px"></p></blockquote>
    
      <p>Passionné par le numérique depuis toujours, j'ai toujours été à l'écoute des nouvelles avancées technologiques.
          Que ce soit dans les jeux videos ou dans les industries. Ma réorientation n'est pas un hasard. <br>
          Aujourd'hui le métier de Developeur ne cesse d'augmenter et d’évoluer. 

        

           </p>
    
      
    </article>
    
    </div>
    

    