* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-weight: 400;
  list-style-type: none;
  font-style: normal;
}



a {
  color: inherit;
  text-decoration: none;
}

nav {
  line-height: 1.4;
  font-family: "Space Mono", monospace;
  background-color: rgba(51, 51, 51, 0.555);
  border: solid rgba(198, 225, 226, 0.246);
  padding: 25px 35px;
  width: 300px;
  top: calc(50vh - 247px);
  left: calc(10vw - 150px);
  position: fixed;
  border-radius: 16px;
  box-shadow: 60px 40px 40px rgba(0, 0, 0, 0.4);
  transform: scale(0) rotate(360deg);
  transition: all 1.0s;
  font-size: 18px;
  opacity: 0.8;
}

nav.menu_active {
  transform: scale(1) rotate(0deg);
}

nav > ol > li {
  margin: 20px 0;
  color: rgb(156, 214, 48);
}

nav > ol > li:first-of-type {
  color: yellow;
}

.yellow {
  color: yellow;
}

nav > ol > li > ol {
  margin: 10px 0 0 20px;
  border-left: 1px solid grey;
  color: rgb(166, 93, 235);
}

nav > ol > li > ol > li {
  margin: 7px 0;
  padding-left: 20px;
}

nav a:hover {
  color: #c04848;
}

h3 {
  position: fixed;
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
  color: #feffff;
  top: calc(10vh - 40px);
  left: calc(10vw - 126px);
  cursor: pointer;
  transition: all 0.3s;
}

h3:hover {
  border-bottom: 6px dotted #dccfcf;
  padding-bottom: 10px;
  top: calc(10vh - 50px);
}

p {
  font-family: "Roboto Mono", monospace;
  float: right;
  cursor: pointer;
  font-size: 16px;
  color: #ff0000;
  transition: all 0.2s;
}

p:hover {
  border-bottom: 2px dotted #cfd8dc;
  padding-bottom: 5px;
}

@media screen and (max-width: 1440px) {
  .menu {
    display: none;
  }

  #btn {
    display: none;
  }

/*----------------- mobile ---------------------------*/

* {
  outline: none;
}

strong {
  font-weight: 600;
}



header {
  

  display: flex;
  position: absolute;
  width: 80px;
  height: 70px;
  background: #212121;
  color: rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: #BF7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 2;
}
#nav-container .bg {
  
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
  
}
#nav-container * {
  visibility: visible;
  
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(240, 21, 21, 0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  
  font-size: 18px;

  margin-top: 70px;
  padding: 20px;
  width: 100%;
  max-width: 200px;
  position: absolute;
  top: 0;
  left: -9px;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(187, 9, 9, 0);
  transform: translateX(-100%);
  transition: transform .4s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
  
}

#nav-content li a:hover {
  color: #BF7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 10px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}






* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

  
}

@media screen and (min-width: 1440px) {
.page{
  display: none;
}

}


