
<div id="cards">
<article>
  <h1>Brevet en métier d'art</h1>
  <p>Le BMA est un diplôme national de la filière des métiers
     d'art qui vise à conserver et à transmettre les techniques traditionnelles
     tout en favorisant l'innovation. Il est délivré au titre d'une spécialité professionnelle.</p>

  <blockquote><p><img id="outil" src="assets/outils.png" alt="" width="600px"></p></blockquote>

  <p>J'ai commencé par un CAP menuisier en Alternance dans un CFA BTP pendant deux ans, 
    ce qui m'a permis d'acquérir certaines bases. Au sortir de cette école,
    j'ai commencé mon brevet en métier d'art ébéniste.
    J'ai cependant continué à apprendre en alternance, par l'intermédiaire de la SEPR.
    Durant cette formation, j'ai appris a être patient, autonome, rigoureux, organiser.</p>

  
</article>

</div>
