
<div id="cards">
  <article>
    <h1>Qu'est-ce que la Wild code school ?</h1>
    <p>La Wild Code School propose des formations 
      intensives aux métiers tech - Développement web, 
      Data analyse, Cybersécurité, Product management 
      - sur campus, à distance ou en entreprise.</p>
  
    <blockquote><p><img id="outil" src="https://secure.meetupstatic.com/photos/event/e/5/8/c/highres_483778764.jpeg" alt="" height="350px" width="600px"></p></blockquote>
  
    <p>Durant cette formation, j'ai beaucoup appris sur le métier de développeurs web. 
      J'ai appris à utiliser les outils de développements, a utiliser diffèrent langages et Framework. <br>
      Langages : HTML, CSS, Java, JavaScript, Typescript. <br> 
      Framework : Angular, Node.js, Spring.  

      

         </p>
  
    
  </article>
  
  </div>
  

  