

<div class="card">

  <div id="haut">

  <div class="thumbnail">
      <img class="left" src="https://secure.meetupstatic.com/photos/event/e/5/8/c/highres_483778764.jpeg"/>
    </div>

  <div class="right">
    <h1>Qu'es que la Wild code school ?</h1>
    
    <div class="separator"></div>
    <p>La Wild Code School propose des formations 
        intensives aux métiers tech - Développement web, 
        Data analyse, Cybersécurité, Product management 
        - sur campus, à distance ou en entreprise.</p>
        <hr>
  </div>
</div>



<div id="bottom" >
          <p>Durant cette formation, j'ai beaucoup appris sur le métier de développeurs web. <br>
            J'ai appris à utiliser les outils de développements, a utiliser diffèrent langages et Framework. <br>
            Langages : HTML, CSS, Java, JavaScript, Typescript, <br> 
            Framework : Angular, Node.js, Spring </p>

               
          
      </div>
  
</div>