<div id="timeline-content">

       <h1>Timeline</h1>

      <ul class="timeline">

        <li class="event" data-date="07/03/2022">
          <h3>En recherche d'un contrat d'apprentissage.<br>🤜💥🤛</h3>
         </li>


         <li class="event" data-date="27/09/2021">
          <h3>Stage chez Quarz</h3>
          <p>Stage 2 mois 27/09/2021 - 25/12/2021   <br>Apprentissage de la méthodologie agile. <br>
            Langages appris : React, React-native, JS, HTML, CSS. <br>
            Création de site avec Wordpress.
           </p>
        </li>

         <li class="event" data-date="01/03/2021">
          <h3>Formation à la wildcodeschool</h3>
          <p>Formation 6 mois 1/03/2021 - 24/09/2021  <br>Apprentissage de la méthodologie agile. <br>
            Langages appris : Java, JavaScript, Typescript, HTML, CSS. <br>
            Framework : Angular, Node.js, Spring.
           </p>
        </li>

        <li class="event" data-date="2016-2020">
          <h3>Expériences professionnelles</h3>
          <p>2019 - 2020 Menuisier.<br>
             SOCREHA Agencement. <br>
            Fabrication de mobilier pour les stations-service. </p>
  
            <p>2018 - 2019 Menuisier.<br>
              SERVIZIAL Menuiserie. <br>
              Spécialiste du mobilier professionnel de restauration et de l'hôtellerie de luxe
              sur mesure. </p>
  
              <p>2016 - 2018 Monteur Assembleur. <br>
               EURO AUTOMATION. <br>
              Spécialiste des profilés aluminium en kit et manuel.</p>
  
        </li>

        <li class="event" id="date" data-date="2013-2016">
          <h3>BMA ébéniste en alternance</h3>
          <p>Conception et réalisation d'objets d'art.   <br>
          Maîtrise des études de style. <br>
          Dessin 3D.</p>  
        </li>

        <li class="event" data-date="2011-2013">
          <h3>CAP menuiserie en alternance</h3>
          <p>Fabrication et pose en menuiserie  <br>
            Maîtrise des bases du métier.</p>    
        </li>


      <li class="event" data-date="65Million B.C.">
        <h3>Dinosaurs Roamed the Earth</h3>
        <p>RAWWWWWWRRR 🌋🦕🦖</p>
      </li>

      

     
      
      


     

        
        
        
 
      
    </ul>
  </div>
