<div id="menu"   >
    <div id="acc">
        <div id="dev">
            <div id="fname">
                <h1>Alexandre <br>Mazoyer</h1>
            </div>

            <div id="description"  >
                <h2>développeur <br>web junior </h2>
            </div>


            <div id="logos"  >
                <div id="logo2" class="logo" >
                    <img src="assets/facebook.svg"  alt="" height="60px" width="60px" >
                   <a href="https://www.instagram.com/shiirows_shi/"> <img src="assets/instagram.svg" alt="" height="60px" width="60px"></a>
                    <img src="assets/discord.svg" alt="" height="60px" width="60px"> 
                </div>

                 <div id="logo1" class="logo">
             <a href="https://github.com/shiirows">  <img src="assets/github.svg" alt="" height="60px" width="60px"></a> 
             <a href="https://www.linkedin.com/in/alexandre-mazoyer-1583b2114/"> <img src="assets/linkedin.svg" alt="" height="60px" width="60px"></a>
             <a href="https://www.pinterest.fr/alexandremazoye/_created/"> <img src="assets/pinterest.svg" alt="" height="60px" width="60px"></a>
            </div>
            </div>
 
        </div>

        <div id="img"  >
            <img id="moi" src="assets/moi2.jpg" height="700px" width="380px">
        </div>
    </div>

</div>