<div id="menu"   >
    <div id="acc">
        <div id="dev">
            <div id="fname">
                <h1>Alexandre <br>Mazoyer</h1>
            </div>

            <div id="description"  >
                <h2>Développeur <br>Web Junior </h2>
            </div>


            <div id="logos"  >
               

                 <div id="logo1" class="logo">
             <a href="https://github.com/shiirows">  <img class="logo_sociaux" src="assets/github.svg" alt="" height="60px" width="60px"></a> 
             <a href="https://www.linkedin.com/in/alexandre-mazoyer-1583b2114/"> <img class="logo_sociaux" src="assets/linkedin.svg" alt="" height="60px" width="60px"></a>
              <img class="logo_sociaux" src="assets/discord.svg" alt="" height="60px" width="60px">
            </div>
            </div>
 
        </div>

        <div id="img"  >
            <img id="photo_profil" src="assets/pose1.jpg" height="740px" width="500px">
        </div>
    </div>

</div>


